/* Game CSS */
body {
    font-family: system-ui;
    background-color: lightgray;
}

p,h1,h2,h3,h4,h5 {
    padding: 0;
}

button {
    cursor: pointer;
    border: 1px solid transparent;
    padding: 16px;
}

.gameParent {
    /* Active Game CSS */
    .activeGame {
        /* Game Board */
        .boardParent {
            padding: 12px;
            width: min-content;

            /* Game Board Row */
            .boardRow {
                display: flex;
                width: max-content;

                .boardSpot {
                    border: 1px solid transparent;
                    padding: 16px;
                    width: 100px;
                    height: 100px;
                    font-size: 32px;
                }

                .taken {
                    background-color: lightskyblue;
                }
            }
        }
    }

    /* Inactive Game CSS */
    .inactiveGame {

    }
}