/* Game CSS */
/* Colors */
.blue {background-color: lightskyblue}
.yellow {background-color: yellow}
.tan {background-color: tan}
.purple {background-color: mediumpurple}
.green {background-color: lightgreen}
.brown {background-color: sandybrown}

/* Game Status */
.gameStatus {
    text-align: center;
    width: 306px;
}

/* Active Game */
.gameStatus .activeGame h1 {
    font-size: 26px;
}

/* Inactive Game */
.gameMessage {
    background-color: #bebcbc;
    padding: 16px;
    border-radius: 12px;
    margin: 0 12px;
}

.gameMessage p {
    font-size: 20px;
}

/* Game Board */
.boardParent {
    margin: 12px 0 0;
}

/* Game Board Row */
.boardParent .boardRow {
    display: flex;
    align-items: center;
    width: max-content;
}

/* Winning Spot */
.boardParent .boardRow .winningSpot {
    background-color: #bebcbc !important;
}

/* Game Board Spot */
.boardParent .boardRow .boardSpot {
    border: 1px solid transparent;
    padding: 16px;
    width: 100px;
    height: 100px;
    font-size: 32px;
}

.boardParent .boardRow .boardSpot .disable {
    cursor: not-allowed;
}

/* Board Row Designs */
.boardParent .row1 {
    border-bottom: 3px solid black;
}

.boardParent .row1 .col2 {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

/* Column 5 Design */
.boardParent .row2 .col5 {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.boardParent .row3 {
    border-top: 3px solid black;
}

/* Column 8 Design */
.boardParent .row3 .col8 {
    border-left: 3px solid black;
    border-right: 3px solid black;
}