/* Game Properties CSS */
.gameProperties {
    border: 3px solid black;
    padding: 24px;

    & h1 {

    }

    /* Game Options */
    .gameOptions {

        /* Players */
        .player {
            border: 2px solid black;
            padding: 12px;
            margin: 12px 0 0 0;
            background-color: #BEBCBC;

            & label, & select {
                font-size: 18px;
                margin-right: 12px;
            }
        }
    }
}