/* Leaderboard CSS */
/* Table */
table {
    border-collapse: collapse;
}

/* Table Head */
table thead {
    background-color: #212121;
    color: white;
}

table thead th {
    font-size: 22px;
    padding: 8px;
    border: 1px solid #212121;
}

/* Table Body */
table tbody td {
    font-size: 16px;
    border-bottom: 1px solid #212121;
    padding: 8px;
    background-color: #bebcbc;
    text-align: center;
    max-width: 8ch;
    word-wrap: break-word;
}

table tbody .pos {
    font-weight: 700;
}

