<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>Error - Tic Tac Toe | William Stanton</title>
    <meta name="description" content="Simple Tic Tac Toe game developed in Java">
    <link rel="preload" th:href="@{main.css}" as="style">
    <link rel="preload" th:href="@{game.css}" as="style">
    <link rel="stylesheet" th:href="@{main.css}" media="print" onload="this.media='all'">
    <link rel="stylesheet" th:href="@{game.css}" media="print" onload="this.media='all'">
    <meta name="robots" content="noindex, nofollow">

</head>
<body>
<!-- Game Info -->
<div class="modalParent">
    <div class="modalHead">
        <h1>Tic Tac Toe Game</h1>
    </div>
    <div class="modalInfo">
        <!-- Error Message -->
        <div class="gameMessage">
            <h1>Error Occurred</h1>
            <p>[[${error}]]</p>
        </div>
        <button class="btn" onclick="history.back()">Go Back</button>
    </div>
</div>
</body>
</html>