<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe - William Stanton</title>
    <meta name="description" content="Simple Tic Tac Toe game developed in Java">
    <link rel="preload" th:href="@{game.css}" as="style">
    <link rel="stylesheet" th:href="@{game.css}" media="print" onload="this.media='all'">

</head>
<body>
    <!-- Game Info -->
    <div class="gameParent">
        <div class="gameHead">
            <h1>Tic Tac Toe Game</h1>
        </div>
        <div class="gameInfo">
            <!-- Active Game -->
            <div class="activeGame" th:if="${status.isActive}">
                <h1><span th:text="${player.getNextPlayer}"></span>, it's your turn!</h1>
            </div>

            <!-- Inactive Game -->
            <div class="inactiveGame" th:if="${!status.isActive}">
                <h1>Game over..</h1>

                <div class="winner" th:if="${status.isWon}">
                    <p>Winner: <span th:text="${status.gameStatus.winner.player.name}"></span></p>
                </div>
                <div class="tie" th:if="${status.isTie}">
                    <p>Tie!</p>
                </div>
                <form action="/restart" method="post">
                    <button class="newBtn" type="submit">Start new game</button>
                </form>
            </div>

            <!-- Game Board -->
            <div class="boardParent">
                <div class="boardRow">
                    <div th:each="b : ${board[0]}">
                        <form action="/" method="post">
                            <input type="text" th:value="${b.id}" name="id" hidden>
                            <button th:type="${status.isActive ? 'submit' : 'button'}" class="boardSpot" th:classappend="${b.player.symbol != null ? b.player.symbol : 'taken'}" th:id="${b.id}" th:text="${b.player.name != null ? b.player.symbol : ''}"></button>
                        </form>
                    </div>
                </div>
                <div class="boardRow">
                    <div th:each="b : ${board[1]}">
                        <form action="/" method="post">
                            <input type="text" th:value="${b.id}" name="id" hidden>
                            <button th:type="${status.isActive ? 'submit' : 'button'}" class="boardSpot" th:classappend="${b.player.symbol != null ? b.player.symbol : 'taken'}" th:id="${b.id}" th:text="${b.player.name != null ? b.player.symbol : ''}"></button>
                        </form>
                    </div>
                </div>
                <div class="boardRow">
                    <div th:each="b : ${board[2]}">
                        <form action="/" method="post">
                            <input type="text" th:value="${b.id}" name="id" hidden>
                            <button th:type="${status.isActive ? 'submit' : 'button'}" class="boardSpot" th:classappend="${b.player.symbol != null ? b.player.symbol : 'taken'}" th:id="${b.id}" th:text="${b.player.name != null ? b.player.symbol : ''}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    // Create tic-tac-toe design pattern
    var style = "3px solid black";

    document.getElementById("1").style.borderBottom = style;
    document.getElementById("2").style.borderRight = style;
    document.getElementById("2").style.borderLeft = style;
    document.getElementById("2").style.borderBottom = style;
    document.getElementById("3").style.borderBottom = style;
    document.getElementById("5").style.borderRight = style;
    document.getElementById("5").style.borderLeft = style;
    document.getElementById("7").style.borderTop = style;
    document.getElementById("8").style.borderRight = style;
    document.getElementById("8").style.borderLeft = style;
    document.getElementById("8").style.borderTop = style;
    document.getElementById("9").style.borderTop = style;
</script>
</body>
</html>